---
import Navbar from '$ui/navbar/Navbar.astro';
import { ETheme } from '$/components/shared/ui/theme/types';
import { EAppLanguages } from '$/i18n/types';
import Analytics from '@vercel/analytics/astro'
import  SpeedInsights  from "@vercel/speed-insights/astro"

import "$styles/global.css";
import BaseHead from '$components/seo/BaseHead.astro';

const theme = ETheme.LIGHT;

const currentLang = Astro.currentLocale || EAppLanguages.ENGLISH;
---

<html lang={currentLang} class={`${theme} scroll-smooth`}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" sizes="64x64"/>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <BaseHead title="Jesús Díaz – Full Stack Developer" description="Technical portfolio of Jesús Díaz, a software engineer focused on developing scalable and maintainable web applications." url={Astro.url.pathname} />
  </head>
  <body>
    <Analytics />
    <SpeedInsights />
    <Navbar />
    <slot role="main"/>
  </body>
</html>

